<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
    <script type="text/javascript" src="/js/script.js"></script>

    <title><%=title%> | App</title>
</head>
<body>
    <!-- Creating form for storing database -->
    <section>
        <div class="form-container">
            <h1><i class="fas fa-edit"></i>&nbsp&nbspNew Todo</h1>
            
            <form action="/create-TodoList-task" method="POST">
                <div class="inputBox">
                    <input id="description" class="task" type="text" name="description" required>
                    <label>Description</label>
                </div>
                <div class="inputBox">
                    <label id="category">Category</label>
                    <select id="Category" class="task" name="category">
                        <option value="Select">Choose A Category</option>
                        <option value="Personal">Personal</option>
                        <option value="Work">Work</option>
                        <option value="Cleaning">Cleaning</option>
                        <option value="Coding">Coding</option>
                    </select>
                    
                    
                </div>
                <div class="inputBox">
                    <label id="due-date" >Due Date</label>
                    <input id='datePicker' class="task" type="date"  name="duedate" required/><br/>
                </div>
                <input id="addtask" class="task" type="Submit" name="addtask" value="+ Add Task"/>
            </form> 
        </div>
    </section>

    <!-- displaying data from database and also mark as done i.e delete when done -->
    </section>
        <div id="output" class="form-container">         

            <h1><i class="fas fa-clipboard-list"></i>&nbsp&nbspTodo List</h1>
            <form action="/delete-todolist-task" method="GET">
            <table id="myTable" class="table" border="1">
                <thead>
                    <tr>
                        <th onclick="sortTable(0)">Select</th>
                        <th onclick="sortTable(1)">Task</th>
                        <th onclick="sortTable(2)">Category</th>
                        <th onclick="sortTable(3)">Due Date</th>
                    </tr>
                </thead>
                <% for(let i of todolists) { %>
                            
                <tr>
                    <td><input type="checkbox" class="select" name="<%= i._id %>" ></td>
                    <td><p id="task-description"><%= i.Description %></p></td>
                    <td><p id="task-category"><%= i.Category %></p> </td>
                    <td><p id="due-date"> <%= i.DueDate %></p></td>
                </tr>
                    
                <% } %>          
            </table>
            
                <input type="submit" class="btn btn-danger" value="🗑 DELETE TASK">
            </form>
        </div>
    </section>
    <script>
        // To display today date
        document.getElementById('datePicker').value = new Date().toISOString().slice(0, 10);
    </script>
</body>




</html>