<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%> | App</title>
</head>
<body>
    <h1>My TodoList</h1>

    <form action="/create-TodoList" method="POST">
        <input type="textarea" name="description" placeholder="what do you need to do?" required>
        <select id="Category" name="category">
            <option value="Select">Choose a Category</option>
            <option value="Personal">Personal</option>
            <option value="Work">Work</option>
            <option value="Cleaning">Cleaning</option>
            <option value="Coding">Coding</option>
        </select>
        <input type="date" name="duedate" required/>
        <input type="Submit" name="addtask" value="+ Add Task"/>
    </form>  

</form>
</section>
    <div>          
            <h1 align="center">TASKS LIST</h1>

            <form action="/delete-todolist-task" method="GET">
                <table class="table">
                    <thead>
                        <tr>
                          <th>Select</th>
                          <th>Task</th>
                          <th>Category</th>
                        <th>due date</th>
                        </tr>
                      </thead>
                    <% for(let i of todolists) { %>
                        
<tr>
                           <td> <input type="checkbox" name="<%= i._id %>" ></td>
                           <td> <p id="task-description"><%= i.Description %></td>
                            <td><p id="task-category"></p>: <%= i.Category %></td>
                            <td><p id="due-date">: <%= i.DueDate %></p></td>
</tr>
                
                    <% } %>
                        
            

                       
</table>
<div  align = "center"><input type="submit" class="btn btn-danger" value="DELETE TASK">

    
        </div>
    
</body>

</html>